* {
    padding: 0;
    margin: 0;
}


.anamenu {
    height: 70px;
    background-color: #2A524D;
    overflow: hidden;
    position: sticky;
    top: 0px;
}

.anamenu ol li:hover {
    background-color: #1E3633;
    cursor: pointer;
}

.anamenu ol {
    margin: 5px 0 5px 0;
}

.anamenu ol li {
    display: inline-block;
    padding: 20px 30px 20px 30px;
}

.ust {
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}

.alt {
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
}

.anamenu ol li a:hover {
    text-decoration: none;
}
.anamenu ol li a {
    color: black;
    font-size: 15px;
}