.anlatim {
    margin: 10px;
}

.icerik {
    font-size: 20px;
    text-align: justify;
}
.icerik::first-letter {
    margin-left: 30px;
}

.icerik a {
    color: #333;
    text-decoration: underline;
}

body {
    background-color: #c2e3cd;
}
#resim {
    width: 10   0px;
    float: left;
    margin-right: 10px;
}