.anlatim {
    margin: 10px;
}

.icerik {
    font-size: 20px;
    text-align: justify;
}
.icerik::first-letter {
    margin-left: 30px;
}
body {
    background-color: #c2e3cd;
}
#resim {
    width: 200px;
    float: left;
    margin-right: 10px;
}